body{
    margin: auto 0;
    background-color: #ffffff;
}  
*{
    box-sizing: border-box;
}
.container{
    height: auto;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #bffcc6;
    margin-top: 50px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd){
    background: #ace7ff;
  }
ul li:hover{
    background: #fbe4ff;
}
ul li.checked{
    background: #ecd4ff;
    color: #000000;
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: #b28dff;
    color: white;
}
.header{
    background-color: #bffcc6;
    padding: 25px 25px;
    color: #2d3436;
    text-align: center;
}
.header:after{
    content: "";
    display: table;
    clear: both;
}
input{
    margin: 0;
    border: 1px solid #d1d8e0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.addBtn{
    padding: 11px;
    width: 25%;
    background:#ffabab;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.addBtn:hover{
    background-color: #b28dff;
}